/*@import "css/header.css";*/

@font-face {
    font-family: "GTWalsheimPro";
    src: url('/static/fonts/GTWalsheimPro.otf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-size: 1.1em;
}

::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'GTWalsheimPro', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}

select, option {
    cursor: pointer;
}

input, textarea, select {
    border-width: 0;
    border-bottom: solid #6bb536;
    padding: .9rem;
    outline: none;
    transition: .4s ease;
}

input[type = "text"], input[type = "password"], input[type = "date"], textarea, select {
    padding-left: 5px;
}


input[type = "submit"] {
    cursor: pointer;
}

/*input[type = "submit"]:hover{*/
/*    box-shadow: inset 0 0 30px 50px  #4e73df;*/
/*}*/

/*input[type = "text"]:focus, input[type = "password"]:focus {*/
/*    box-shadow: inset 0 0 0 2px  #4e73df;*/
/*}*/

button {
    background-color: #7109AA;
    color: white;
    border: none;
    padding: .2rem;
    transition: .4s ease;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #7109AA;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.light-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.medium-shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.default-btn {
    background-color: #6bb536;
    color: #fff;
    padding: 1.5vmin;
    border-radius: 8px;
    border:  #6bb536 solid  2px;
}

.status-btn {
    display: block;
    width: 100px;
    padding: 10px;
}

.status-btn.active {
    background-color: #6bb536;
    color: #fff;
}

.status-btn.banned {
    background-color: #f00;
    color: #fff;
    border-color: #f00;
}

.status-btn.banned:hover {
    background-color: #fff;
    color: #f00;
}

.default-btn:hover {
    background-color: #fff;
    color: #6bb536 ;
}

.default-btn.enable {
    background-color: #fff;
    color: #6bb536 
}

.default-link {
    text-align: center;
}

.default-link:hover {
    color: #6bb536;
}

.modal-form {
    display: flex;
    flex-direction: column;
    font-size: .8em;
}

.modal-form input, .modal-form .default-btn, select {
    margin: 1.2rem 1.2rem .6rem;
}

.update {
    background-color: #f6c23e;
    border-color: #f6c23e;
}

.update:hover {
    color: #f6c23e;
    background-color: #fff;
}

.delete {
    background-color: #e74a3b;
    border-color: #e74a3b;
}

.delete:hover {
    background-color: #fff;
    color: #e74a3b;
}

.msg {
    text-align: center;
    color: #f00;
}