main .login-form, main .reg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

main .login-form label, main .reg-form label {
  text-align: center;
  padding: 1rem;
}

main .login-form input, main .reg-form input {
  font-size: 2em;
}

main .login-form .btn-container, main .reg-form .btn-container {
  padding-top: 2rem;
  text-align: center;
}

main .login-form .btn-container .default-btn, main .reg-form .btn-container .default-btn {
  padding-left: 2rem;
  padding-right: 2rem;
}