.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container .box-minmax {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-container .range-slider {
  display: flex;
  align-items: center;
}

.slider-container .rs-label {
  padding: 1vmin;
}

